<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pirates.choi.hiswindtester">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        android:screenOrientation="portrait"
        android:largeHeap="true">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".RegisterEndDateAcitivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".RDActivity"/>
        <activity android:name=".MDActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".WDActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".MNAcitivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ImageViewAcitivity"/>

    </application>

</manifest>